<div class="card my-5">
  <div class="card-body">
    <ul class="text-center list-inline py-3">
      <li class="list-inline-item">
        <mat-form-field>
          <mat-label>Escolha uma placa</mat-label>
          <mat-select name="placas" [(value)]="selected">
            <mat-option *ngFor="let placa of placas" [value]="placa">
              {{ placa }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </li>
      <li class="list-inline-item">
        <button (click)="resetPlaca()" class="btn btn-dark btn-sm pb-0"><mat-icon>clear</mat-icon></button>
      </li>
      <li class="list-inline-item">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Escolha uma data</mat-label>
          <input matInput [matDatepicker]="picker" (dateChange)="dateChange($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </li>
      <li class="list-inline-item">
        <button (click)="search()" class="btn btn-dark btn-md">Buscar</button>
      </li>
    </ul>

    <table *ngIf="showTables" class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Placa</th>
          <th scope="col">POI</th>
          <th scope="col">Tempo (min)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tempo of tempos">
          <td>{{ tempo.placa }}</td>
          <td>{{ tempo.poi }}</td>
          <td>{{ tempo.tempo }}</td>
        </tr>
      </tbody>
    </table>

    <table *ngIf="showTables" class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Placa</th>
          <th scope="col">Data</th>
          <th scope="col">Velocidade</th>
          <th scope="col">Latitude</th>
          <th scope="col">Longitude</th>
          <th scope="col">Ignição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let posicao of posicoes">
          <td><a href="https://www.google.com/maps/place/{{ posicao.latitude }} {{ posicao.longitude }}" target="_blank">{{ posicao.id }}</a></td>
          <td>{{ posicao.placa }}</td>
          <td>{{ posicao.data }}</td>
          <td>{{ posicao.velocidade }}</td>
          <td>{{ posicao.latitude }}</td>
          <td>{{ posicao.longitude }}</td>
          <td>{{ posicao.ignicao }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
